<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.2.6" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="RJCodeAdvance.RJControls" version="1.0.0" targetFramework="net461" />
</packages>